<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="MBC_ID" type="text" label="30101" default="" />
	<setting id="MBC_PW" type="text" option="hidden" label="30102" default="" />
	<setting type="sep"/>
	<setting id="POOQ_ID" type="text" label="30103" default="" />
	<setting id="POOQ_PW" type="text" option="hidden" label="30104" default="" />
	<setting id="POOQ_QUALITY" type="enum" label="30105" lvalues="30106|30107|30108|30109" />
	<setting type="sep"/>
	<setting id="TVING_ID" type="text" label="30110" default="" />
	<setting id="TVING_PW" type="text" option="hidden" label="30111" default="" />
	<setting id="TVING_LOGIN_TYPE" type="enum" label="30112" lvalues="30113|30114" />
	<setting id="TVING_QUALITY" type="enum" label="30115" lvalues="30116|30117|30118" />
	<setting type="sep"/>
	<setting id="OKSUSU_ID" type="text" label="30119" default="" />
	<setting id="OKSUSU_PW" type="text" option="hidden" label="30120" default="" />
	<setting id="OKSUSU_QUALITY" type="enum" label="30121" lvalues="30116|30117|30118" />
	<setting type="sep"/>
	<setting id="OLLEH_ID" type="text" label="30122" default="" />
	<setting id="OLLEH_PW" type="text" option="hidden" label="30123" default="" />
	<setting id="OLLEH_QUALITY" type="enum" label="30124" lvalues="30116|30117|30118" />
	<setting type="sep"/>
	<setting id="RADIO2_XML" type="text" label="30125" default="https://soju6jan.github.io/radio2.xml" />
	<setting type="sep"/>
</settings>
